doctype html
html
  head
    title= "Real time web chat"
    link(rel='stylesheet', href='/normalize.css')
    link(rel='stylesheet', href='/chat.css')
  body
    #content
      ul#messages
    .controls
      input.new-message(type='text')
    script(src='//code.jquery.com/jquery.js')
    script(src='/moment.min.js')
    script(src='/lazy.js')
    script(src='/chat.js')
    script(src='/socket.io/socket.io.js')
